<div>
    <div id="vstupy" class="form">
        
	     	<div class="row-layout container-fluid form-header">
	     		<h3>{{'promenna.header' | translate}}</h3>
	     		<i class="fa fa-fw fa-plus clickable" (click)="pridejPromennou()" title="{{'promenna.vlozit' | translate}}"></i>
	     		<i class="fa fa-fw fa-upload clickable" (click)="zobrazImport()" title="{{'promenna.import' | translate}}"></i>
	     		<i class="fa fa-fw fa-download clickable" (click)="exportZadani()" title="{{'promenna.export' | translate}}"></i>
	     		<i class="fa fa-remove text-danger clickable rowHover" (click)="odstranPromenne()" title="{{'promenna.smazatVse' | translate}}"></i>
		     	<div class="lokalizace">
		     		<app-lokalizace-component [lokalizace]="lokalizace"></app-lokalizace-component>
		     	</div>
	     	</div>

			<div class="promenne-scroll">
				<app-promenne-panel [promenne]="listPromennych"></app-promenne-panel>
	        </div>

        <form  (ngSubmit)="run()" #provedeniForm="ngForm" class="input-form ">
        	<div class="container-fluid form-header">
	        	<h3>{{'provedeni.header' | translate}}</h3>
	        </div>
	        <div class="container-fluid">
		        <div class="row form-group">
		        	<div class="col-sm-4">
		        		<label for="pocetReseni">{{'provedeni.pocet' | translate}}</label>
		        	</div>
		        	<div class="col-sm-8">
		            	<input id="pocetReseni" type="number" name="pocetReseni" [(ngModel)]="pocetReseni" #pocetReseniControl="ngModel" min="0" placeholder="{{'provedeni.pocetPlaceholder' | translate}}" pInputText />
		            </div>
		        </div>
		            
		        <div class="row form-group">
		            <div class="col-sm-4">
		            	<label for="vyberAlgoritmu">{{'provedeni.algoritmus' | translate}}</label>
		            </div>
		            <div class="col-sm-7">
		            	<p-dropdown name="vyberAlgoritmu" #vyberAlgoritmu="ngModel" [(ngModel)]="vybranyAlgoritmus" [options]="algoritmy" required>
		            		<ng-template let-item pTemplate="selectedItem">
                       			{{item.value.nazev | translate}}
						    </ng-template>
                       		<ng-template let-item pTemplate="item">
                       			{{item.value.nazev | translate}}
						    </ng-template>
		            	</p-dropdown>
		            </div>
		            <div class="col-sm-1">
		            	<i class="fa fa-question-circle clickable" (click)="zobrazAlgoritmus()" title="{{'algoritmus.definice' | translate}}"></i>
		            </div>
			    </div>
		            
		        <div class="row form-group">
		        	<div class="col-sm-4">
		        		<label for="iConsistency">{{'provedeni.iConsistency' | translate}}</label>
		        	</div>
		        	<div class="col-sm-8">
		        		<input id="iConsistency" type="number" name="iConsistency" [(ngModel)]="iConsistencyFaktor" #pocetReseniControl="ngModel" [disabled]="vybranyAlgoritmus.nazev !== 'popis.iConsistency.nazev'" required min="1" pInputText />
		        	</div>
		        </div>
		        
		        <div class="row form-group form-submit">
		        	<div class="col-sm-12">
		        		<button type="submit" class="btn btn-success" [disabled]="!provedeniForm.form.valid">{{'provedeni.spust' | translate}}</button>
		            </div>
		        </div>
		    </div>
	    </form>
    </div>
    
    <div id="vstupySeparator"></div>
        
    <div id="graf">
		<app-graf *ngIf="postup" [postup]="postup"></app-graf>
        <div *ngIf="!postup" class="navod">
        	<i class="fa fa-5x fa-edit"></i>
        		<span>{{'graf.navod.1' | translate}}</span>
        		<span>{{'graf.navod.2' | translate}}</span>
        		<span>{{'graf.navod.3' | translate}}</span>
        </div>
    </div>
    
    <app-dialog-algoritmus *ngIf="zobrazAlgoritmusDialog" [algoritmus]="vybranyAlgoritmus" (close)="skryjAlgoritmus()"></app-dialog-algoritmus>
    <app-dialog-import *ngIf="zobrazImportDialog" (close)="importZadani($event)"></app-dialog-import>
	<p-confirmDialog #confirmControl header="{{'confirm.header' | translate}}" icon="fa fa-question-circle"
		acceptLabel="{{'confirm.accept' | translate}}" rejectLabel="{{'confirm.reject' | translate}}">
		<p-footer>
	        <button type="button" class="btn btn-success" (click)="confirmControl.accept()">{{'confirm.accept' | translate}}</button>
	        <button type="button" class="btn btn-default" (click)="confirmControl.reject()">{{'confirm.reject' | translate}}</button>
    </p-footer>
	</p-confirmDialog>
</div>

