<div>
    <div id="menu" class="border container-fluid">
        <form id="nastaveni">
            <h3>NastavenÌ</h3>
            <div class="gridNastaveni">
                <label for="pocetReseni">Poƒçet ≈ôe≈°en√≠</label>
                <input id="pocetReseni" type="number" name="pocetReseni" [(ngModel)]="pocetReseni" #pocetReseniControl="ngModel" required min="1" />
            </div>
        </form>

        <hr>
        <div id="vstupy">
        	<div class="row-layout">
        		<h3>Promƒõnn√©</h3>
        		<i class="fa fa-fw fa-plus clickable" (click)="pridejPromennou()"></i>
        	</div>
            
            <form id="promenneBlok">
                <div *ngFor="let r of listPromennych, index as i" class="row">
	                	<div class="col-sm-1">{{r.nazev}}</div>
	                    <div class="col-sm-11">
	                    	<i class="fa fa-cog clickable" (click)="openDialogOmezeni(r)"></i>
	                    	<i class="fa fa-ban text-danger clickable rowHover"></i>
	                    	<i class="fa fa-remove text-danger clickable rowHover" (click)="odeberPromennou(r)"></i>
	                    </div>
	                    <div class="clearfix"></div>
	                    
	                    <div class="col-sm-1"></div>
	                	<div class="col-sm-11">
	                     	 <span class="operator">=</span> &#123;
	                     	 <input name="domena{{r.nazev}}" [(ngModel)]="r.domena" required pattern="^(-?\d+,? ?)*-?\d+$" #domenaControl="ngModel" />
	                     	 &#125;
	                    </div>
	                    <div class="clearfix"></div>
	                    
	                    <div class="col-sm-1"></div>
	                	<div class="col-sm-11">
	                		<div *ngIf="domenaControl.invalid && (domenaControl.dirty || domenaControl.touched)" class="text text-danger">
	                			Povolena jsou cel· ËÌsla oddÏlen· Ë·rkou
	                		</div>
	                    </div>
                    
                    <div *ngFor="let o of r.omezeni" class="">
                    	<div class="col-sm-1"></div>
	                	<div class="col-sm-11">
                    		<span class="operator">{{o.typOmezeni}}{{o.omezeniProPromennou}}</span> {{o.hodnotyOmezeni}}
                    	</div>
                    </div>

                    
                </div>
            </form>
        </div>
        
        
        <div *ngIf="vybranaPromenna">
	        <div class="backdrop"></div>
	        <div class="modal" tabindex="-1" role="dialog" style="display: block">
	            <div class="modal-dialog" role="document">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <button type="button" class="close" aria-label="Close" (click)="closeDialogOmezeni()">
	                            <span aria-hidden="true">&times;</span>
	                        </button>
	                        <h4 class="modal-title">OmezenÌ promÏnnÈ {{vybranaPromenna.nazev}}</h4>
	                    </div>
	                    <form  (ngSubmit)="submitDialogOmezeni()" #omezeniForm="ngForm">
	                    <div class="modal-body input-form">
	                        <div *ngFor="let omezeni of vybranaPromenna.omezeni; index as i" class="row form-group">
	                        	<div *ngIf="!omezeni.omezeniProPromennou">
	                        		<div [class]="hodnotaOmezeni.invalid && (hodnotaOmezeni.dirty || hodnotaOmezeni.touched) ? 'text text-danger' : ''">
		                        		<div class="col-sm-1">
		                        			<label for="omezeni{{omezeni.id}}">{{vybranaPromenna.nazev}} {{omezeni.typOmezeni}}</label>
		                        		</div>
		                        		<div class="col-sm-10">
		                        			<span *ngIf="hodnotaOmezeni.invalid && (hodnotaOmezeni.dirty || hodnotaOmezeni.touched)">
		                        				Hodnota je povinn·
		                        			</span>
		                        		</div>
	                        		</div>
		                        	<div class="col-sm-1">
		                        		<i class="fa fa-remove text-danger clickable rowHover" (click)="odeberOmezeni(vybranaPromenna, omezeni)"></i>
		                        	</div>
		                        	
									<div class="col-sm-12">		                        	
		                        		<p-multiSelect id="omezeni{{omezeni.id}}" name="omezeni{{omezeni.id}}" #hodnotaOmezeni="ngModel" [(ngModel)]="omezeni.hodnotyOmezeni" [options]="filtrovanePromenne" optionLabel="nazev" maxSelectedLabels="30" required></p-multiSelect>
		                        	</div>
		                        </div>
		                        
		                        <div *ngIf="omezeni.omezeniProPromennou" class="form-group">
		                        	<div class="col-sm-1">
	                        			<label for="omezeni{{omezeni.id}}">{{vybranaPromenna.nazev}} {{omezeni.typOmezeni}} {{omezeni.omezeniProPromennou.nazev}}</label>
	                        		</div>
	                        		<div class="col-sm-10">
	                        			<span *ngIf="domenaOmezeni.invalid && (domenaOmezeni.dirty || domenaOmezeni.touched)" class="text text-danger">
	                        				<span *ngIf="domenaOmezeni.errors.required">Hodnota je povinn·</span>
	                        				<span *ngIf="domenaOmezeni.errors.pattern">Je moûnÈ zadat pouze dvojice ËÌsel oddÏlenÈ mezerou</span>
	                        			</span>
	                        		</div>
		                        	<div class="col-sm-1">
		                        		<i class="fa fa-remove text-danger clickable rowHover" (click)="odeberOmezeni(vybranaPromenna, omezeni)"></i>
		                        	</div>
		                        	
									<div class="col-sm-12">		                        	
		                        		<textarea id="omezeni{{omezeni.id}}" name="omezeni{{omezeni.id}}" #domenaOmezeni="ngModel" pInputTextarea rows="4" [(ngModel)]="omezeni.hodnotyOmezeni" required pattern="^(\s*\d+\s*,\s*\d+\s*)*$"></textarea>
		                        	</div>
		                        </div>
	                        </div>
	                        
	                        <div *ngIf="vybranaPromenna.omezeni?.length === 0" class="row form-group">
	                        	PromÏnn· nem· û·dnÈ omezenÌ. P¯idejte jej nÌûe.
	                        </div>
	                        
	                        <div class="spacer">
	                        	<p-dropdown #newTypOmezeni [options]="typyOmezeni" placeholder="Typ"></p-dropdown>
	                        	<p-dropdown [disabled]="!newTypOmezeni.value || jeJednoducheOmezeni(newTypOmezeni.value)" #newCilovaPromenna [options]="filtrovanePromenne" optionLabel="nazev" placeholder="Cil"></p-dropdown>
	                        	<button type="button" class="btn btn-default" [disabled]="!(newTypOmezeni.value && (jeJednoducheOmezeni(newTypOmezeni.value) || newCilovaPromenna.value))" (click)="pridejOmezeni(vybranaPromenna, newTypOmezeni.value, newCilovaPromenna.value)"><i class="fa fa-plus" ></i> P¯idat omezenÌ</button>
	                        </div>
	                    </div>
	                    
	                    <div class="modal-footer">
	                        <button type="submit" class="btn btn-success" [disabled]="!omezeniForm.form.valid">Uloûit</button>
	                        <button type="button" class="btn btn-danger" (click)="resetDialogOmezeni()">Vr·tit</button>
	                        <button type="button" class="btn btn-default" (click)="closeDialogOmezeni()">Zruöit</button>
	                    </div>
	                    </form>
	                </div>
	                <!-- /.modal-content -->
	            </div>
	            <!-- /.modal-dialog -->
	        </div>
        </div>
        <!-- /.modal !-->

        <div id="algoritmy">
        </div>

        <div id="dynamic"></div>

        <hr>
        <h3>Proveden√≠</h3>
        <div class="gridAlgoritmu">
            <select class="select" (change)="algorithmSelect($event)">
                <option value="Backtracking">Backtracking</option>
                <option value="Backjumping">Backjumping</option>
                <option value="Forward Check">Forward Check</option>
                <option value="Arc Consistency">Arc Consistency</option>
                <option value="Constraint Recording">Constraint Recording</option>
            </select>
            <button (click)="run()">Spocti</button>
            <!-- <input type="submit" value="backtracking" onclick="Backtracking.spusteni('backtracking')" />
            <input type="submit" value="backjumping" onclick="Backtracking.spusteni('backjumping')" />
            <input type="submit" value="forward check" onclick="Backtracking.spusteni('forwardChecking')" />
            <input type="submit" value="arc consistency" onclick="Backtracking.spusteni('arcConsistency')" />
            <input type="submit" value="constraintRecording" onclick="Backtracking.spusteni('constraintRecording')" />
            -->
        </div>
        <p id="vykonanyAlgoritmus">&nbsp;</p>
        <div class="border" style="height: 30%">
                <app-algoritm [pocetPromennych]="pocetPromennych" *ngIf="(selectedAlgorithm=='Backtracking')"></app-algoritm>
            <app-backjumping *ngIf="(selectedAlgorithm=='Backjumping')"></app-backjumping>
        </div>
    </div>
    <div id="graf" class="border table-layout">
        <div id="myDiagramDiv" style="width: 100%; height: 600px"></div>

        <div id="krok">

        </div>

        <div id="navigace">
            <div>
                <button id="previous10">-10
                    &lt;&lt;</button>
                        <button id="previous">
                            &lt;&lt;</button>
                                <button id="whole">Vykreslen√≠</button>
                                <button id="next">&gt;&gt;</button>
                                <button id="next10">+10 &gt;&gt;</button>
            </div>
            <div>
                <button id="zoomToFit">Zoom to Fit</button>
                <button id="vis" onclick="zobrazeniAktualnichHodnotDomen()">skr√Ωt</button>
                <button id="centerRoot">P≈ôibl√≠≈æen√≠</button>
            </div>
        </div>
    </div>
</div>