* {
    box-sizing: border-box;
}

#vstupy {
	float: left;
	width: 31em;
	height: 100vh;
}

#vstupySeparator {
	float: left;
	width: 30px;
	height: 100vh;
}

#graf {
	float: left;
	width: calc(100% - 31em - 35px);
	height: 100vh;
	position: relative;
}

.jazyky {
	position: absolute;
	top: 0;
	right: 0;
}

.jazyky img {
	padding: 3px 0;
	margin: 0 5px;
	cursor: pointer;
}

#navod {
	margin-top: 5em;
	text-align: center;
	color: grey;
}

#navod > i {
	font-size: 10em;
    margin-bottom: 0.5em;
}

#navod > span {
	display: block;
	font-size: 2em;
	line-height: 1.45;
}

.graf-plocha {
	width: 100%;
	height: calc(100vh - 10em);
}

.graf-podrobnosti {
	height: 2em;
	margin-top: 1em;
    text-align: center;
}

.graf-navigation {
    height: 4em;
    margin-top: 1em;
    text-align: center;
}

.graf-navigation button {
    margin: 0 0.25em;
}

.graf-navigation .graf-step {
	display: inline-block;
	width: 3em;
}

.graf-domena {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 5;
	background-color: white;
	min-width: 180px;
	padding-top: 15px;
}

.graf-zoom {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
}

.graf-zoom button{
	display: block;
	margin-bottom: 0.5em;
}

#menu {
    float: left;
    width: 30%;
    height: 100%;
    padding: 1em;
}

.operator {
	display: inline-block;
	width: 1.5em;
}

.border {
    border: 1px solid black;
    margin:5px;
}

.row-layout > * {
	display: inline-block;
}

.row-layout > * + * {
	margin-left: 0.5em;
}

.table-layout {
	display: table;
}

.table-layout > div {
	display: table-row;
}

.table-layout > div > div {
	display: table-cell;
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext{
    visibility: hidden;
    background-color: #fffa49;
    text-align: center;

    opacity: 0;
    transition: 1s;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

.row .rowHover {
	visibility: hidden;
}

.row:hover .rowHover {
	visibility: visible;
}

.clickable {
	padding: 0.25em;
	cursor: pointer;
}

.clickable:hover {
	background-color: LightGray;
}

.invisible {
	visibility: hidden;
}

/deep/ .ui-inputtext.ng-dirty.ng-invalid, /deep/ p-dropdown.ng-dirty.ng-invalid > .ui-dropdown, /deep/ p-multiselect.ng-dirty.ng-invalid > .ui-multiselect {
	border-left-color: #f44336;
    border-bottom-color: #f44336;
}

.form {
	background-color: #f0f7fd;
}

.input-form label {
	min-width: 3em;
}

.input-form input, .input-form label, .input-form textarea, /deep/ .input-form .ui-multiselect, /deep/ .input-form .ui-dropdown {
	width: 100%;
}

.input-form input.surrounded {
	width: calc(100% - 3.5em);
}

.spacer {
	margin-top: 2em;
}

.modal-scroll {
	max-height: calc(80vh - 60px - 7em);
    overflow-y: auto;
}

.promenne-scroll {
	max-height: calc(100vh - 24em);
    overflow-y: auto;
}


.grid-container {
	padding-left: 15px;
	padding-right: 15px;
}

fieldset:disabled {
	color: gray;
}

.form-header {
	position: relative;
	margin-bottom: 1em;
	background-color: #cde6fc;
	border-bottom: 1px solid #81b2dd;
}

.form-submit {
	text-align: right;
}

/* Workaround PrimeNG chyby */
/* https://github.com/primefaces/primeng/issues/1974 */
/deep/ #modalAppendTo .ui-multiselect-panel {
	z-index: 10000 !important;
	width: 538px;
}

