#vstupy {
	float: left;
	width: 31em;
	height: 100vh;
}

#vstupySeparator {
	float: left;
	width: 30px;
	height: 100vh;
}

#graf {
	float: left;
	width: calc(100% - 31em - 35px);
	height: 100vh;
	position: relative;
}

.lokalizace {
	position: absolute;
	top: 0;
	right: 0;
}

.navod {
	margin-top: 5em;
	text-align: center;
	color: grey;
}

.navod > i {
	font-size: 10em;
    margin-bottom: 0.5em;
}

.navod > span {
	display: block;
	font-size: 2em;
	line-height: 1.45;
}

.operator {
	display: inline-block;
	width: 1.5em;
}

.row-layout > * {
	display: inline-block;
}

.row-layout > * + * {
	margin-left: 0.5em;
}

.table-layout {
	display: table;
}

.table-layout > div {
	display: table-row;
}

.table-layout > div > div {
	display: table-cell;
}

.promenne-scroll {
	max-height: calc(100vh - 24em);
    overflow-y: auto;
}

.form-submit {
	text-align: right;
}

/* Workaround PrimeNG chyby */
/* https://github.com/primefaces/primeng/issues/1974 */
/deep/ #modalAppendTo .ui-multiselect-panel {
	z-index: 10000 !important;
	width: 538px;
}

.napoveda {
	color: blue;
}