<form class="input-form">
	<div class="container-fluid">
	 	<div *ngFor="let promenna of promenne" class="row form-group">
	 		<fieldset [disabled]="!promenna.aktivni">
	   			<div class="col-sm-1">{{promenna.nazev}}</div>
	       		<div class="col-sm-11" *ngIf="promenna.aktivni">
	       			<i class="fa fa-cog clickable" (click)="openDialogOmezeni(promenna)"></i>
	       			<i class="fa fa-ban text-danger clickable rowHover" (click)="promenna.aktivni = false"></i>
	       			<i class="fa fa-remove text-danger clickable rowHover" (click)="odeberPromennou(promenna)"></i>
	       		</div>
	       		<div class="col-sm-11" *ngIf="!promenna.aktivni">
	       			<i class="fa fa-cog clickable" class="invisible"></i>
	       			<i class="fa fa-check-circle text-success clickable rowHover" (click)="promenna.aktivni = true"></i>
	       		</div>
	       		<div class="clearfix"></div>
	       
	       		<div class="col-sm-1"></div>
	   				<div class="col-sm-11">
	        	 		<span class="operator">=</span> &#123;
	        	 		<input name="domena{{promenna.nazev}}" [(ngModel)]="promenna.domena" required numbersConvertor pattern="^(-?\d+,? ?)*-?\d+$" #domenaControl="ngModel" class="surrounded" pInputText />
	        	 		&#125;
	       		</div>
	       		<div class="clearfix"></div>
	       
	       		<div class="col-sm-1"></div>
	    		<div class="col-sm-11">
	    			<div *ngIf="domenaControl.invalid && (domenaControl.dirty || domenaControl.touched)" class="text text-danger">
	    				{{'promenna.validace.pattern' | translate}}
	    			</div>
	       		</div>
	      
	       		<div *ngFor="let o of promenna.omezeni" class="">
	        		<div class="col-sm-1"></div>
	     			<div class="col-sm-11">
	       				<span class="operator">{{o.typOmezeni}}{{o.omezeniProPromennou}}</span> {{o.hodnotyOmezeni}}
	       			</div>
	       		</div>
			</fieldset>
		</div>
		
		<div *ngIf="promenne.length === 0" class="navod">
		   	<i class="fa fa-5x fa-edit"></i>
			<span>{{'promennePanel.empty' | translate}}</span>
		</div>
	</div>
</form>

<div *ngIf="vybranaPromenna">
	<app-dialog-omezeni [promenna]="vybranaPromenna" (close)="closeDialogOmezeni($event)" [appendTo]="modalAppendTo"></app-dialog-omezeni>
</div>
      
<div id="modalAppendTo" #modalAppendTo></div>  
