.input-form input.surrounded {
	min-width: calc(100% - 3.5em);
}

.navod {
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
	color: grey;
}

.navod > i {
	font-size: 5em;
    margin-bottom: 0.5em;
}

.navod > span {
	display: block;
	font-size: 1.25em;
	line-height: 1.45;
}